body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
}
h2{
    margin-top: 100px;
    font-size: 32px;
}

p{
    margin-bottom: 50px;
}
section{
    height: 500px;
    
}
.orenge-highlight{
    color:#ffa200;
} 
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;

}

.top-banner{
    background-image: url("../image/Untitled-2.png");
    background-repeat: no-repeat;
}

.full-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    border-radius: 10px;
    color: white;
    padding-top: 10px;

}

.dream-area{
    background-image: url("../image/Untitled-4-Recovered.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 30px;
    /* background-size: 100%; */

}

.single-expreances{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;
}
.Expreances{
    background-image: url(../image/expreance.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stract{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, tomato, salmon);
    border-image-slice: 1;
}

#full-border{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(97, 134, 255), rgb(155, 119, 252));
    border-image-slice: 1;
}